img{
 width: 210px;
 height: 250px;
}

h1{
    font-size: 40px;
    background-color:lab(34.73% 67.28 -94.17);
    color: white;
    font-weight: bold;
}

body{
    background-color: rgb(13, 200, 224);
}

button{
    border-radius: 20px;
    display: block;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(42, 42, 233)
}