img{
 width: 300px;
 display: block;
 border-radius: 300px;
 margin-top:20px;
 margin-bottom:35px;
 border-bottom: 10px solid rgb(59, 62, 255);
 border-top: 10px solid rgb(59, 62, 255);
 border-left: 10px solid rgb(245, 57, 57);
 border-right: 10px solid rgb(245, 57, 57);
}

p{
 border-bottom: 15px solid rgb(0, 4, 255);
}

h1{
    font-size: 40px;
    background-color:rgb(25, 0, 255);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
}

h2{
  width: 600px;  
}

h3{
  width: 1000px;  
}

h4{
 border-bottom: 15px solid rgb(245, 57, 57);
}

body{
    background-color: rgb(13, 200, 224);
}

button{
    text-decoration: none;
    border-radius: 20px;
    display: block;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    color: rgb(220, 255, 255);
    background-color: rgb(42, 42, 233);
     font-family:'Times';

}