h1{
    font-size: 40px;
    background-color:powderblue;
    color: rgb(114, 114, 224);
    font-weight: bold;
}

h2{
    width: 600px;
}

h3{
   font-size: 30px;
}

button{
    border-radius: 20px;
    display: block;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(111, 111, 224)
}

body{
    background-color: rgb(112, 250, 192);
}