h1{
    font-size: 40px;
    background-color:rgb(6, 6, 110);
    color: rgb(114, 114, 224);
    font-weight: bold;
}

h2{
    font-size: 30px;
}


h3{
   font-size: 30px;
   margin-top: 40px;
   font-weight: bold;
   background: lightskyblue
}

button{
    border-bottom: 5px solid rgb(50, 50, 100);
    border-left: 2px solid rgb(111, 111, 224);
    border-right: 2px solid rgb(111, 111, 224);
    border-top: 2px solid rgb(111, 111, 224);
    border-radius: 20px;
    display: block;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(111, 111, 224)
}

body{
    background-color: rgb(195, 131, 255);
}

img{
 width: 500px;
 display: block;
margin-bottom:35px;
 border-bottom: 10px solid rgb(148, 53, 226);
 border-top: 10px solid rgb(148, 53, 226);
 border-left: 10px solid rgb(186, 105, 252);
 border-right: 10px solid rgb(186, 105, 252);
}